ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
div.pantalla{
    display: none;
    position: absolute;
    top: 24px;
    bottom: 0px;
	left:0px;
	right:0px;
	background-color: rgb(246, 178, 107);
}

#plantillas{
	display: none;
}
