
.pantalla_lista_cotas
div.toolbar{
	position: absolute;
	left: 0px;
	right: 0px;
	height: 25px;
}

.pantalla_lista_cotas
div.toolbar
div.desc_pieza{
	position: absolute;
	width: 200px;
	margin-left: -100px;
	left: 50%;
	top: 4px;
	color: rgb(255,255,255);
	text-align: center;
}

.pantalla_lista_cotas
div.toolbar
img.flecha_izq{
	position: absolute;
	top: 3px;
	left: 3px;
}


.pantalla_lista_cotas
div.toolbar
img.flecha_der{
	position: absolute;
	top: 3px;
	right: 3px;
}

.pantalla_lista_cotas
div.lista_cotas_container{
	position: absolute;
	top: 25px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	
	overflow-x:hidden;
	overflow-y:scroll;
}

.pantalla_lista_cotas
ul.lista_cotas{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	
}


.pantalla_lista_cotas
ul.lista_cotas
li.cota {
	background-color: rgb(200,200,200);
	border-bottom: solid 3px;
	border-bottom-color: rgb(170,170,170);
	height: 50px;
	position: relative;
}


.pantalla_lista_cotas
ul.lista_cotas
li.cota 
div.valorMedicion{
	display: none;
}

.pantalla_lista_cotas
ul.lista_cotas
li.cota
div.unidad{
	position: absolute;
	right: 3px;
	top: 3px;
}



/*:SIGUIENTE:*/

.pantalla_lista_cotas
ul.lista_cotas
li.siguiente{
	background-color: rgb(170,170,230);
	border-bottom-color: rgb(140,140,200);
}


.pantalla_lista_cotas
ul.lista_cotas
li.cota/*siguiente*/
div.base{
	display: initial;
	position: absolute;
	right: 190px;
	top: 20px;
}

.pantalla_lista_cotas
ul.lista_cotas
li.cota/*siguiente*/
div.tolMax{
	display: initial;
	position: absolute;
	right: 130px;
	top: 15px;
}

.pantalla_lista_cotas
ul.lista_cotas
li.cota/*siguiente*/
div.tolMin{
	display: initial;
	position: absolute;
	right: 130px;
	top: 30px;
}


.pantalla_lista_cotas
ul.lista_cotas
li.cota/*siguiente*/
div.precision{
	display: initial;
	position: absolute;
	right: 70px;
	top: 20px;
}


/*:COMPLETA:*/
.pantalla_lista_cotas
ul.lista_cotas
li.completa
div.valorMedicion{
	display: initial;
	position: absolute;
	right: 40px;
	top: 5px;
	font-size: 20px;
}



.pantalla_lista_cotas
ul.lista_cotas
li.completa
div.base{
	display: none;
}

.pantalla_lista_cotas
ul.lista_cotas
li.completa
div.tolMax{
	display: none;
}

.pantalla_lista_cotas
ul.lista_cotas
li.completa
div.tolMin{
	display: none;
}


.pantalla_lista_cotas
ul.lista_cotas
li.completa
div.precision{
	display: none;
}

.pantalla_lista_cotas
ul.lista_cotas
li.anterior{
	border-left: solid 5px rgb(100, 100, 130);
	/*TODO estilo de la inmediata anterior*/
}

.pantalla_lista_cotas
ul.lista_cotas
li.anterior
div.valorMedicion{
	right: 40px;
	top: 5px;
	font-weight: bold;
	font-size: 30px;
}

.pantalla_lista_cotas
ul.lista_cotas
li.paso{
	background-color: rgb(170,230,170);
	border-bottom-color: rgb(140,200,140);
}

.pantalla_lista_cotas
ul.lista_cotas
li.no_paso{
	background-color: rgb(230,170,170);
	border-bottom-color: rgb(200,140,140);
}


.pantalla_lista_cotas
ul.lista_cotas
li.cota
svg.regla{
	/*position: absolute;
	left: 20px;
	top: 20px;*/
	
	width: 100%;
	height: 50px;
	border: solid 1px;
	display: none;
}
