#pantalla_seleccion_tipoDePieza
li.tipoDePieza {
	background-color: rgb(200,200,200);
	border: solid 1px black;
	height: 30px;
	color: rgb(255,255,255);
	padding-left: 5px;
	padding-top: 5px;
}

#pantalla_seleccion_tipoDePieza
li.selected{
	background-color: rgb(130,130,230);
}

#pantalla_seleccion_tipoDePieza
input.textoBusqueda{
	position: absolute;
	width: 200px;
	top: 10px;
	left: 4px;
}

#pantalla_seleccion_tipoDePieza
ul.lista_tiposDePieza{
	position: absolute;
	top: 38px;
	right: 0px;
	left: 0px;
}